#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 2em;
    right: 3em;
    display: flex;
    align-items: center;
}

.build-timestamp {
    padding-left: 1em;
    padding-right: 1em;
    opacity: 0.4;
}

.challenge-word {
    font-size: 5em;
}

.response-button + .response-button {
    margin-left: 0.5em;
}

.response-button {
    border-radius: 80px;
    font-size: 2em;
}

.last-answer {
    padding-top: 2em;
    font-size: 2em;
}

.last-answer-status-correct {
    color: darkgreen;
}

.last-answer-status-incorrect {
    color: darkred;
}
